<div class="panel panel-primary">
  <div class="panel-heading">Enter admin password</div>
  <div class="panel-body">
    <div class="form-group">
      <input type="password" ng-model="password" class="form-control">
    </div>
  </div>
</div>