<div head></div>
<div class="container admin-container" admin-check>

<div class="row-fluid">
  <div class="span4 offset4 text-center">
    <h1>Quiz Admin</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 offset4 status-box" status-box="data.status" status-class="data.statusClass"></div>
</div>

<div class="row-fluid">
  <div class="span4 offset4" admin-password-box></div>
</div>

<!--------------------- Questions ---------------------->

<div class="row-fluid">
  <div class="text-center span4 offset4">
    <h2>Questions</h2>
  </div>
</div>

<div class="row-fluid">

  <div class="well span4 offset2">
    <legend>Manage Questions</legend>

    <div class="panel panel-danger">
      <div class="panel-body">
        <div class="btn-group btn-group-justified">
          <div class="btn btn-danger" ng-click="data.funcs.question.delete('*')">Delete All</div>
        </div>
      </div>
    </div>

    <div ng-hide="data.questions.length > 0" class="text-warning text-center well-sm">No Questions</div>

    <div class="form-group" ng-show="data.questions.length > 0">
      <label class="control-label"></label>
      <span class="input-group">
        <span class="input-group-addon">Showing only </span>
        <select
          class="form-control"
          ng-model="data.activeQuestionGroup"
          ng-options="type + 's' for type in data.questionGroups"></select>
      </span>

    </div>

    <div
      ng-repeat="question in data.questions"
      ng-show="question.type == data.activeQuestionGroup"
      class="panel panel-primary">
      <div class="panel-heading">
        <strong>{{question.content}}</strong>
      </div>
      <div class="panel-body">
        <strong>Type:</strong> <em>{{question.type}}</em><br>
        <strong>Answers:</strong>
        <ul>
          <li ng-repeat="a in question.answers">{{a}}</li>
        </ul>
        <strong>Worth:</strong> <em>{{question.worth}}</em> <strong>points</strong>
      </div>
      <div class="btn-group-sm btn-group-justified panel-footer">
        <a ng-click="data.funcs.question.delete(question._id)" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>

  <div class="well span4">
    <legend>New Question</legend>
    <div class="form-group">
      <label class="control-label">Type</label>
      <select ng-model="data.new.question.type" class="form-control">
        <option value="slogan">Slogan</option>
        <option value="logo">Logo</option>
        <option value="commercial">Commercial</option>
      </select>
    </div>
    <div class="form-group">
      <label class="control-label">Content</label>
      <input type="text" ng-model="data.new.question.content" ng-keyup="enterCheck($event, data.funcs.question.new)" class="form-control">
      <div class="text-info help-block">This would be the vimeo link, path to picture, or plain text.</div>
    </div>
    <div class="form-group">
      <label class="control-label">Answer</label>
      <input type="text" ng-model="data.new.question.answerUnprocessed" ng-keyup="enterCheck($event, data.funcs.question.new)" class="form-control">
      <div class="text-info help-block">
        Seperate possible answers (tacobell vs. Taco Bell) with pipes (|).<br>
        Ex. "tacobell|Taco Bell"
      </div>
      <div class="text-warning help-block">
        Note: matches are already case insensitive.
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Worth</label>
      <input type="number" ng-model="data.new.question.worth" class="form-control">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" ng-click="data.funcs.question.new()">Create</button>
    </div>
  </div>

</div>

<!--------------------- Quizzes ---------------------->

<div class="row-fluid">
  <div class="text-center span4 offset4">
    <h2>Quizzes</h2>
  </div>
</div>

<div class="row-fluid">

  <div class="well span4 offset2">
    <legend>Manage Quizzes</legend>
    <div class="panel panel-danger">
      <div class="panel-body">
        <div class="btn-group btn-group-justified">
          <div class="btn btn-danger" ng-click="data.funcs.quiz.delete('*')">Delete All</div>
        </div>
      </div>
    </div>
    <div ng-hide="data.quizzes.length > 0" class="text-warning text-center well-sm">No Quizzes</div>

    <div
      ng-repeat="quiz in data.quizzes"
      class="panel panel-primary">
      <div class="panel-heading">
        <strong>{{quiz.name}}</strong>
      </div>
      <div class="panel-body">
        <strong>Questions:</strong>
        <ul>
          <li ng-repeat="question in quiz.questions"><strong>{{question.type}}</strong>: {{question.content}}</li>
        </ul>
      </div>
      <div class="btn-group-sm btn-group-justified panel-footer">
        <a ng-click="data.funcs.quiz.delete(quiz._id)" class="btn btn-danger">Delete</a>
      </div>
    </div>

  </div>

  <div class="well span4">
    <legend>New Quiz</legend>
    <div class="form-group">
      <label class="control-label">Name</label>
      <input type="text" ng-model="data.new.quiz.name" ng-keyup="enterCheck($event, data.funcs.quiz.new)" class="form-control">
    </div>
    <div class="form-group">
      <label class="control-label">Associated Questions</label>
      <select
        multiple="multiple"
        select
        ng-model="data.new.quiz.questions"
        ng-options="q._id as q.answer + ': ' + q.content group by q.type for q in data.questions"
        class="form-control"></select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" ng-click="data.funcs.quiz.new()">Create</button>
    </div>

  </div>
</div>

<!--------------------- Games ---------------------->

<div class="row-fluid">
  <div class="text-center span4 offset4">
    <h2>Games</h2>
  </div>
</div>

<div class="row-fluid">

  <div class="well span4 offset2">
    <legend>Manage Games</legend>
    <div class="panel panel-danger">
      <div class="panel-body">
        <div class="btn-group btn-group-justified">
          <div class="btn btn-danger" ng-click="data.funcs.game.delete('*')">Delete All</div>
        </div>
      </div>
    </div>
    <div ng-hide="data.games.length > 0" class="text-warning text-center well-sm">No Games</div>

    <div
      ng-repeat="game in data.games"
      class="panel panel-primary">
      <div class="panel-heading">
        <strong>{{game.name}}</strong>
      </div>
      <div class="panel-body">
        <strong>Quizzes:</strong>
        <ul>
          <li ng-repeat="quiz in game.quizzes">{{quiz.name}}</li>
        </ul>
      </div>
      <div class="btn-group-sm btn-group-justified panel-footer">
        <a ng-click="data.funcs.game.delete(game._id)" class="btn btn-danger">Delete</a>
      </div>
    </div>

  </div>

  <div class="well span4">
    <legend>New Game</legend>
    <div class="form-group">
      <label class="control-label">Name</label>
      <input type="text" ng-model="data.new.game.name" ng-keyup="enterCheck($event, data.funcs.game.new)" class="form-control">
    </div>
    <div class="form-group">
      <label class="control-label">Associated Quizzes</label>
      <select multiple="multiple" select ng-model="data.new.game.quizzes" ng-options="quiz._id as quiz.name for quiz in data.quizzes" class="form-control"></select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" ng-click="data.funcs.game.new()">Create</button>
    </div>
  </div>

</div>




<!--------------------- Players ---------------------->

<div class="row-fluid">
  <div class="text-center span4 offset4">
    <h2>Players</h2>
  </div>
</div>

<div class="row-fluid">

  <div class="well span4 offset2">
    <legend>Manage Players</legend>
    <div class="panel panel-danger">
      <div class="panel-body">
        <div class="btn-group btn-group-justified">
          <div class="btn btn-danger" ng-click="data.funcs.player.delete('*')">Delete All</div>
        </div>
      </div>
    </div>
    <div ng-hide="data.players.length > 0" class="text-warning text-center well-sm">No Players</div>

    <div class="form-group" ng-repeat="player in data.players">
      <span class="input-group input-group-sm">
        <span class="input-group-addon">
          {{player.name}}
        </span>
        <input type="text" readonly="readonly" ng-model="player.game.name" class="form-control text-center">
        <span class="input-group-addon">
          {{player.points}} points
        </span>
        <span class="input-group-btn">
          <a class="btn btn-danger" ng-click="data.funcs.player.delete(player._id)">Delete</a>
        </span>
      </span>
    </div>

  </div>

  <div class="well span4">
    <legend>New Player</legend>
    <div class="form-group">
      <label class="control-label">Name</label>
      <input type="text" ng-model="data.new.player.name" ng-keyup="enterCheck($event, data.funcs.player.new)" class="form-control">
    </div>
    <div class="form-group">
      <label class="control-label">Game</label>
      <select
        class="form-control"
        ng-model="data.new.player.game"
        ng-options="g._id as g.name for g in data.games"></select>
    </div>
    <div class="form-group">
      <label class="control-label">Points</label>
      <input type="number" ng-model="data.new.player.points" class="form-control">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" ng-click="data.funcs.player.new()">Create</button>
    </div>
  </div>

</div>

</div>
<div foot></div>