<div class="panel" ng-class="{'panel-default':valid,'panel-danger':!valid}">
  <div class="panel-heading">Enter admin password</div>
  <div class="panel-body">
    <div class="form-group" ng-class="{'has-error':!valid}">
      <input type="password" ng-model="enteredPassword" class="form-control">
    </div>
  </div>
</div>