<div head></div>

<div class="container new-player-container" ng-if="!data.saved">
  <div class="row-fluid">
    <div class="span4 well">
      <legend>Step 1</legend>
      <div class="form-group">
        <label class="control-label">What's your name?</label>
        <input
          type="text"
          placeholder="Name"
          ng-model="data.player.name"
          ng-disabled="data.saved"
          ng-keyup="enterCheck($event, fn.newPlayer)"
          class="form-control">
      </div>

    </div>
    <div class="span4 well">
      <legend>Step 2</legend>

      <div class="form-group">
        <label class="control-label">Select a running game.</label>
        <div ng-show="data.games.length < 1 && data.gamesLoaded" class="muted text-center">No games available :-(</div>
        <div ng-show="!data.gamesLoaded" class="text-center">Loading games...</div>
        <select
          class="form-control"
          ng-model="data.player.game"
          ng-show="(data.gamesLoaded && data.games.length > 0)"
          ng-options="g._id as g.name for g in data.games"></select>
      </div>

    </div>
    <div class="panel panel-warning span4">
      <div class="panel-heading">Please note:</div>
      <div class="panel-body text-center">
        You must have cookies enabled in you phone/PC's browser to be able to play. If you don't know what these are
        (and no, I'm not talking about food), then you're most likely fine. Thanks!
      </div>
    </div>
  </div>

  <div class="row-fluid">

  </div>

  <div class="row-fluid">
    <div class="offset5 span2 text-center">
      <input
        type="button"
        value="Start"
        class="btn btn-primary start-button input-block-level"
        ng-disabled="data.processing || (data.games.length < 1 && data.gamesLoaded)"
        ng-click="fn.newPlayer()">
    </div>
  </div>
</div>

  <div class="container" ng-if="data.saved">
    <div class="row-fluid">
      <div class="offset4 span4 text-center">
        <h1>Welcome back, {{data.player.name}}!</h1><br><br>
        <div class="btn-group-vertical">
          <div ng-click="fn.joinGame()" class="btn btn-primary">
            Rejoin Game
          </div>
          <div ng-click="fn.deletePlayer(data.player._id)" class="btn btn-danger">
            Delete "{{data.player.name}}" and start a new player
          </div>
        </div>
      </div>
    </div>
  </div>

<div foot></div>